<tr data-id="<%= user.id %>">

  <td> <%= user.first_name %> </td>
  <td> <%= user.last_name %> </td>
  <td> <%= user.email %></td>
  <td><%= user.admin? ? "yes" : "no" %>
  <td> <%=link_to "edit", edit_user_registration_path(user.id) %>   /  <%= link_to "delete", "#", class: "delete_user" %></td>

</tr>