<h1>Edit Team <%= @team.name%></h1>

<%= form_for @team do |f| %>
<%= render "team_form", f: f%>
<%= render "teams/add_user", f: f%>
    <div id="table_message"></div>
<%= render "team_users_table", f:  f %>

    <div class = "hidden" id="team_id" data-value="<%=  @team.id%>"></div>
<%	 end %>