<%= form_for @time_log do |f|%>
    <p class ="field">
        <%= f.label :team_id%>
        <%= f.select :team_id, @user_teams.collect{|t| [t.name, t.id]}%>
    </p>

    <p class ="field">
        <%= f.label "Category" %>
        <%= select :post, :category_id, @categories , {include_blank: true}%>
    </p>
    <p class="field" id="subcategories">
    </p>

    <p class ="field">
        <%= f.label :date%>
        <%= f.text_field :date, class: "datepicker"%>
    </p>

    <p class ="field">
        <%= f.label :hours%>
        <%= f.text_field :hours%>
    </p>

    <p class ="field">
        <%= f.label :minutes%>
        <%= f.text_field :minutes%>
    </p>
    <input type="button" id="submit_time_log" value="Submit">
    <input type="button" id="cancel_time_log" value="Cancel">

<%end%>